asgiref==3.9.1
Django==5.2.6
django-extensions==4.1
pillow==11.3.0
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg-pool==3.2.6
python-decouple==3.8
setuptools==80.9.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.10.0
