
{% url 'home' as home %}  
{% url 'resume' as resume %}
{% url 'projects' as projects %}
{% url 'contacts' as contacts %}

 <footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0">{% now "Y" as current_year %}
                    Copyright &copy; David Sudi {{ current_year }}
                </div>
            </div>
            <div class="col-auto">
                <a class="small" href="{{resume}}">Resume</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="{{projects}}">Projects</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="{{contacts}}">Contact</a>
            </div>
        </div>
    </div>
</footer>

